.my-logo {
    width: 195px;
}

.white-box-form {
    background: #fff0;
    padding: 70px 25px;
    margin-bottom: 30px;
    box-shadow: 0 0;
}

.dash-logo {
	width: 160px;
}
.dash-logo-view{
	width: 128px;
    margin-left: 22px;
}