.my-logo {
    width: 195px;
}

.white-box-form {
    background: #fff0;
    padding: 70px 25px;
    margin-bottom: 30px;
    box-shadow: 0 0;
}

.dash-logo {
	width: 160px;
}
.dash-logo-view{
	width: 128px;
    margin-left: 22px;
}
.scan-code{
	display: none;
}
.qr-address{
	font-size: 18px;
    border-bottom: 1px solid gainsboro;
    font-weight: bold;
}
.text-bold{
	font-weight: bold;
}
.profile-action{
	margin-top: 36px;
}
.profile-sel{
	border: 0px;
}
/*.card-bg-orange{
    background-repeat: no-repeat;
    background-image: url(../plugins/images/card-bg.png);
    background-position: right, top;
}*/

.p-relative{
    position: relative;
}
.img-col{
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
}
.prof-act{
    text-align: center;
    margin-top: 78px;
}
.modal-center{
    text-align: center;
}